<div class="row show_page_margin">
  <div class="col-sm-12  col-lg-8 ">
    <img class="img-fluid" src="<%= @sneaker.main_picture %>" alt="<%= @sneaker.name %>">
  </div>

  <div class="col-sm-12 col-lg-4 ">
    <h5><%= @sneaker.brand.name %></h5>
    <h5><%= @sneaker.name %></h5>
    <h5>$<%= @sneaker.price_cents / 100 %></h5>


    <%= form_with url: cart_index_path, method: :POST do %>
      <%= hidden_field_tag(:id, @sneaker.id)%>

      <h5>Select US <%= @sneaker.gender %> sizes:</h5>
      <%= select_tag(:sneaker_size, options_from_collection_for_select(@sizes, "size_number", "size_number"), :class => "sneaker_size_select")%>

      <h5>Select Quantity:</h5>
      <%= number_field_tag 'quantity', '1', class: "sneaker_size_select", min: 1, max: 100 %>

      <%= button_tag('Add to Cart', :class => "btn btn-primary my-1 sneaker_size_button")%>
    <% end %>

    <hr>

    <h5>Details</h5>
    <p><%= @sneaker.shoe_story %></p>

    <p>Release Date: <%= @sneaker.release_date%></p>
    <p>Nickname: <%= @sneaker.nickname%></p>
    <p>Gender: <%= @sneaker.gender%></p>
    <p>Colourway: <%= @sneaker.colour_way%></p>

  </div>
</div>
